.button {
  border: 0;
  box-sizing: border-box;
  color: get-color(grass);
  cursor: pointer;
  display: block;
  font-size: 14px;
  outline-color: get-color(grass);
  padding: 16px;
  text-align: center;
  width: 100%;

  &:hover {
    color: get-color(geebung);
  }

  &--primary {
    background-color: get-color(meadow);
    border-radius: 5px;
    color: get-color(air);

    &:hover {
      background-color: get-color(meadow-dark);
      color: get-color(air);
    }
  }
}
