.card {
  background-color: get-color(air);
  border: 1px solid get-color(black, blind);
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .09);
  padding: 16px 16px 8px;

  &__actions {
    margin-top: 16px;
  }

  &--form {
    margin-top: 16px;

    @include large {
      margin-top: 0;
    }
  }

  @include large {
    padding: 32px 32px 16px;
  }
}
