.copyright {
  display: flex;
  justify-content: space-between;

  &__text {
    color: get-color(bermuda);
    display: block;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  ~ .copyright {
    .copyright__text {
      margin-top: 12px;
    }
  }

  @include large {
    align-items: center;

    &__text {
      text-align: left;
    }

    ~ .copyright {
      .copyright__text {
        margin-top: 0;
        text-align: right;
      }
    }
  }
}
