.form {
  &__field {
    display: flex;
    flex-direction: column;
    margin-top: 18px;

    @include large {
      margin-top: 24px;
    }
  }

  &__label {
    color: get-color(black, light);
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;

    ~ .form__select,
    ~ .form__input,
    ~ .form__group {
      margin-top: 4px;
    }

    &--lightweight {
      font-size: 14px;
      font-weight: 100;
      text-transform: none;

      ~ .form__select,
      ~ .form__input,
      ~ .form__group {
        margin-top: 8px;
      }
    }
  }

  &__group {
    display: flex;
  }

  &__input {
    -webkit-appearance: none;
    background-color: get-color(air);
    border: 1px solid get-color(black, blind);
    border-radius: 5px;
    box-sizing: border-box;
    color: get-color(black, light);
    font-size: 15px;
    outline-color: get-color(grass);
    padding: 12px;
    width: 100%;

    &--grouped {
      border-radius: 5px 0 0 5px;
    }

    @include large {
      padding: 14px 12px;
    }
  }

  &__select {
    position: relative;

    &::after {
      background-color: transparent;
      border-bottom: 1px solid get-color(black, middle);
      border-right: 1px solid get-color(black, middle);
      content: '';
      height: 5px;
      position: absolute;
      right: 15px;
      top: 16px;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;
      width: 5px;

      @include large {
        top: 20px;
      }
    }
  }

  &__button-grouped {
    background-color: get-color(snow);
    border: 1px solid get-color(black, blind);
    border-left: 0;
    border-radius: 0 5px 5px 0;
    color: get-color(grass);
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    outline-color: get-color(grass);
    padding: 0 14px;

    &:hover {
      background-color: get-color(grass);
      color: get-color(air);
    }
  }
}
