.header {
  width: 100%;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__infos,
  &__account {
    display: flex;
    flex: 1;
  }

  &__account {
    justify-content: flex-end;
  }

  &__link {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    outline-color: get-color(grass);
    padding: 0 15px;

    &:hover {
      text-decoration: underline;
    }

    &--left {
      &:first-child {
        border-right: 1px solid get-color(gallery);
        padding-left: 0;
      }
    }

    &--right {
      border-left: 1px solid get-color(gallery);
      padding-right: 0;

      @include large {
        border: 0;
      }
    }

    @include large {
      flex-direction: row;
    }
  }

  &__link-title {
    font-size: 16px;
    font-weight: 100;
    margin-top: 2px;

    @include large {
      margin: 0 5px;
    }
  }

  &__logo {
    outline-color: get-color(grass);
    padding: 6px 0;

    &:hover {
      opacity: .75;
    }
  }

  &__logo-image {
    height: 44px;
  }
}
