.section {
  display: flex;
  padding: 32px 0 16px;

  &__block {
    margin-top: 16px;

    ~ .section__block {
      border-top: 1px solid get-color(gallery);
      padding-top: 16px;
    }

    @include large {
      margin-top: 24px;

      ~ .section__block {
        border-top: 0;
        padding-top: 0;
      }
    }
  }

  &--wall {
    background-color: get-color(snow);
  }

  &--transcendent {
    padding-bottom: 0;
    position: relative;
    z-index: 1;

    &::before {
      background-color: get-color(air);
      border-top: 1px solid get-color(gallery);
      bottom: 0;
      content: '';
      height: 16px;
      position: absolute;
      width: 100%;
      z-index: -1;

      @include large {
        height: 32px;
      }
    }
  }
}
