.share {
  display: flex;

  &__group {
    ~ .share__group {
      margin-left: 32px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    border: 1px solid #CCC;
    border-radius: 50%;
    display: inline-block;
    height: 48px;
    width: 48px;

    &:hover {
      background-color: get-color(snow);
    }

    ~ .share__item {
      margin-left: 4px;
    }

    @include large {
      ~ .share__item {
        margin-left: 16px;
      }
    }
  }

  &__link {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    outline-color: get-color(grass);
    width: 100%;
  }

  &__image {
    max-height: 21px;
    max-width: 24px;
  }
}
