.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin: 0 20px;

    &:first-child,
    &:last-child {
      margin: 0;
    }

    &:hover {
      opacity: .8;
    }

    @include large {
      margin: 0 4px;
    }
  }

  &__link {
    align-items: center;
    display: flex;
    outline-color: get-color(grass);
  }

  &__icon {
    height: 35px;
  }

  &__info {
    color: get-color(air);
    font-size: 12px;
    font-weight: 100;
    margin-left: 4px;
  }
}
