.steps {
  list-style: none;
  margin: 16px 0 0;
  padding: 0;

  &__index {
    align-items: center;
    border: 2px solid get-color(black, light);
    border-radius: 50%;
    color: get-color(black, light);
    display: flex;
    flex-shrink: 0;
    font-size: 22px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    margin: 16px 20px 16px 0;
    position: relative;
    text-align: center;
    width: 50px;

    &:before {
      background-color: get-color(black, light);
      content: '';
      display: block;
      height: 18px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: -28px;
      width: 1px;
    }
  }

  &__step {
    align-items: center;
    display: flex;

    &:first-child {
      .steps__index {
        &:before {
          display: none;
        }
      }
    }
  }
}
