.sub-header {
  background-image: linear-gradient(to right, get-color(java), get-color(celurean));
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include large {
      justify-content: flex-start;
    }
  }

  &__title {
    color: get-color(air);
    font-size: 15px;
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
  }

  &__mobile-menu {
    color: get-color(air);
    padding-right: 15px;
    position: relative;

    &::after {
      background-color: transparent;
      border-bottom: 2px solid get-color(air);
      border-right: 2px solid get-color(air);
      content: '';
      height: 5px;
      position: absolute;
      right: 0;
      top: 4px;
      transform: rotate(45deg);
      transition: transform .2s ease-in-out;
      width: 5px;
    }
  }

  &__menu {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
  }

  &__link {
    color: get-color(air);
    display: flex;
    font-size: 14px;
    font-weight: 100;
    height: 47px;
    line-height: 47px;
    outline-color: get-color(grass);
    padding: 0 15px;

    &:hover,
    &--active {
      background-color: rgba(255, 255, 255, .15);
    }
  }
}
