.footer {
  margin-top: 32px;

  &__contacts {
    background-color: get-color(pelouros);
  }

  &__catalog {
    background-color: get-color(celurean);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .09);
    padding: 24px 0;

    @include large {
      padding: 54px 0 24px;
    }
  }

  &__infos {
    background-color: get-color(lagoon);
    padding: 24px 0 16px;
  }

  &__separator {
    background-color: get-color(jelly-bean);
    border: 0;
    height: 1px;
    margin: 20px 0;
    width: 100%;

    @include large {
      margin: 36px 0;
      background-color: get-color(celurean-light);
    }
  }
}
