.footer-press {
  &__block {
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__info {
    color: get-color(mint-tulip);
    font-size: 12px;
    font-weight: 100;
    margin: 0;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 74px;
    list-style: none;
    margin: 0;
    margin-top: 24px;
    padding: 0;
  }

  &__item {
    align-items: center;
    display: flex;

    &:not(:first-child) {
      margin-left: 16px;
    }
  }

  &__image {
    &--globo {
      height: 32px;
    }

    &--folha {
      height: 23px;
    }

    &--veja {
      height: 31px;
    }

    &--selo {
      height: 52px;
    }
  }

  &__info {
    color: get-color(air);
    margin-left: 16px;
  }
}
