.footer-list {
  &__title {
    color: get-color(air);
    font-size: 12px;
    margin: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    @include large {
      margin-top: 16px;
      text-align: left;
    }
  }

  &__item {
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;

    &:not(:last-child) {
      .footer-list__link {
        border-right: 1px solid get-color(mint-tulip);
      }
    }

    @include large {
      display: block;
      font-size: 12px;
      line-height: 16px;

      &:not(:last-child) {
        .footer-list__link {
          border: 0;
        }
      }

      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  &__link {
    color: get-color(mint-tulip);
    outline-color: get-color(grass);
    padding: 0 8px;

    &:hover {
      text-decoration: underline;
    }

    @include large {
      padding: 0;
    }
  }
}
