.footer-contact {
  &__container {
    column-gap: 0;
    column-rule: 1px solid get-color(pelouros-dark);
    columns: auto 4;
    display: block;

    @include large {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    align-items: center;
    color: get-color(mint-tulip);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;

    &--inline {
      flex-direction: row;
    }

    @include large {
      flex-direction: row;
    }
  }

  &__icon {
    padding: 0 10px;
    width: 22px;

    path {
      fill: get-color(mint-tulip);
    }

    @include large {
      width: 36px;

      path {
        fill: get-color(celurean);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 100;
    margin-top: 8px;

    @include large {
      margin-top: 0;
    }
  }

  &__title {
    color: get-color(mint-tulip);
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    outline-color: get-color(grass);
    padding: 0;

    @include large {
      border-bottom: 1px solid get-color(mint-tulip);
      color: get-color(air);
      font-size: 21px;
      font-weight: 100;
      width: max-content;

      &--discreet {
        border: 0;
      }
    }
  }

  &__description {
    font-style: italic;

    &::before {
      background-color: get-color(valencia);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: 8px;
      width: 8px;
    }

    &--online {
      &::before {
        background-color: get-color(screaming-green);
      }
    }

    @include large {
      color: get-color(air);
      font-style: normal;
      margin-top: 4px;
    }
  }
}
