$less-than-large: 991px;

.mobile {
  &__only {
    @media screen and (min-width: map-get($breakpoints, large)) {
      display: none;
    }
  }

  &__above {
    @media screen and (max-width: #{$less-than-large}) {
      display: none;
    }
  }
}
