.text {
  color: get-color(black, middle);
  font-size: 14px;
  font-weight: 100;
  line-height: 23px;
  margin: 0;

  strong {
    font-weight: 600;
  }

  &--small {
    font-size: 13px;
    line-height: 20px;
  }
}
