.title {
  &__page {
    color: get-color(black, dark);
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 0;

    small {
      color: get-color(black, middle);
      display: block;
      font-size: 16px;
      font-weight: 100;
      line-height: 26px;
      margin-top: 14px;
    }
  }

  &__section,
  &__block {
    color: get-color(black, dark);
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__section {
    @include large {
      &--breaker {
        border-bottom: 1px solid get-color(gallery);
        padding-bottom: 16px;
      }
    }
  }

  &__loc {
    color: get-color(black, middle);
    display: block;
    font-size: 16px;
    margin: 0;

    &--individualist {
      margin-top: 14px;
    }

    &--lightweight {
      font-weight: 100;
    }
  }
}
