// sass-lint:disable no-color-keywords

$colors: (
  air: #fff,
  snow: #fafaf9,
  gallery: #ebebeb,
  oyster: #cfeaeb,
  mint-tulip: #c6edf5,
  bermuda: #7fd0d7,
  glacier: #71b3c0,
  pelouros: #46adc4,
  pelouros-dark: #3ea1bb,
  java: #18acc4,
  celurean-light: #378ca2,
  celurean: #05869b,
  jelly-bean: #2d7893,
  teal: #02718b,
  lagoon: #006f89,
  screaming-green: #62f07f,
  meadow: #1eca7d,
  meadow-dark: #1ab16d,
  grass: #de9e1f,
  geebung: #c28a1b,
  valencia: #dc424d,

  black: (
    blind: #ccc,
    light: #767676,
    middle: #7b7b7b,
    dark: #333,
  )
);
